<header class="__navbar">
    <div class="__navbar__left">
        <div class="__navbar__logo">
            <img src="/images/image3.png" alt="logo" class="__logo">
            <h2 class="__navbar__logo-text">Mobile Money Manager</h2>
        </div>
        <nav class="__navbar__nav">
            <ul class="__navbar__list">
                <li><a href="/manager/dashboard" class="__navbar__link __navbar__link--active">Home</a></li>
                <li><a href="/manager/agents" class="__navbar__link">Agents</a></li>
                <li><a href="/manager/transactions" class="__navbar__link">Transactions</a></li>
                <li><a href="/manager/analytics" class="__navbar__link">Analytics</a></li> 
                <li><a href="/logout" class="__navbar__link">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="__navbar__user">
        <div class="__navbar__avatar">M</div>
        <span id="username">Manager</span>
        <i class='bx bx-chevron-down'></i>
    </div>
    <div class="__navbar__dropdown" id="user-dropdown">
        <div class="__navbar__user-info">
            <p class="__navbar__user-name">Manager</p>
            <p class="__navbar__user-role">Manager</p>
        </div>
        <a href="#" id="logout" class="__navbar__logout">Logout</a>
    </div>
</header>