<aside class="sidebar">
    <div class="logo">
        <i class='bx bx-money'></i>
        <h2>Mobile Money Manager</h2>
    </div>
    <nav>
        <ul>
            <li><a href="/agent/dashboard" class="active"><i class='bx bx-home'></i> Home</a></li>
            <li><a href="/agent/register"><i class='bx bx-file'></i> Transaction Cards</a></li>
            <li><a href="/agent/transactions"><i class='bx bx-money-withdraw'></i>Transaction History</a></li>
            <li><a href="/agent/profiles"><i class='bx bx-user'></i> Profile</a></li>
            <li><a href="/logout" id="logout"><i class='bx bx-log-out'></i> Logout</a></li>
        </ul>
    </nav>
</aside>